<!doctype html>
<html>
  <%= partial("partials/document/head", :locals => {
    :extra => partial("partials/blog/head")
  }) %>

  <body>
    <div class="page">
      <%= partial "partials/navbar" %>
      <%= partial "partials/header" %>
      <%= partial("partials/content", :locals => {
        :content => yield,
        :element => 'section'
      }) %>
      <%= partial "partials/blog/sidebar" %>
      <%= partial "partials/footer" %>
    </div>

    <%= partial "partials/document/foot" %>
  </body>
</html>
