<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="/images/icon.png" />
    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

    <%= stylesheet_link_tag "site" %>
    <% if (current_page.data.styles) %>
      <% current_page.data.styles.each do |style| %>
        <link rel="stylesheet" href="<%= style %>" />
      <% end %>
    <% end %>
    <%= javascript_include_tag "site" %>
    <% if (current_page.data.scripts) %>
      <% current_page.data.scripts.each do |script| %>
        <script src="<%= script %>"></script>
      <% end %>
    <% end %>

    <!-- Use the title from a page's frontmatter if it has one -->
    <%= partial "partials/title" %>
  </head>
  <body>

    <div class="page">
      <%= partial "partials/header" %>
      <%= partial("partials/content", :locals => { :content => yield }) %>
      <%= partial "partials/navbar" %>
      <%= partial "partials/footer" %>
    </div>

    <!-- Bootstrap dependencies -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </body>
</html>
